body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#pizza-selection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#pizza-selection div {
  width: 200px;
  border: 1px solid rgb(253, 253, 253);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

#cart {
  margin-top: 20px;
  border-top: 2px solid #333;
  padding-top: 20px;
}
