body {
  font-family: Arial, sans-serif;
  background-image: url("https://i.pinimg.com/736x/61/0f/43/610f43a7e8d83be4d5b6000f71971a4a.jpg");
}

h1 {
  text-align: center;
}

#pizza-selection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#pizza-selection div {
  width: 200px;
  border: 1px solid rgb(187, 159, 2);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

#cart {
  margin-top: 20px;
  border-top: 2px solid #333;
  padding-top: 20px;
}
