<div>
  <h5>LIEFERADRESSE</h5>
  <input
    class="form-control"
    id="Kundennummer"
    name="Kundennummer"
    type="text"
    placeholder="Kundennummer"
    [(ngModel)]="kunde.kundenNr"
  />
  <input
    class="form-control"
    id="Vorname"
    name="Vorname"
    type="text"
    placeholder="Vorname"
    [(ngModel)]="kunde.vorname"
  />
  <input
    class="form-control"
    id="Nachname"
    name="Nachname"
    type="text"
    placeholder="Nachname"
    [(ngModel)]="kunde.nachname"
  />
  <input
    class="form-control"
    id="Strasse"
    name="Strasse"
    type="text"
    placeholder="Strasse"
    [(ngModel)]="kunde.adresse.strasse"
  />
  <input
    class="form-control"
    id="Hausnummer"
    name="Hausnummer"
    type="text"
    placeholder="Hausnummer"
    [(ngModel)]="kunde.adresse.hausnummer"
  />
  <input
    class="form-control"
    id="Ort"
    name="Ort"
    type="text"
    placeholder="Ort"
    [(ngModel)]="kunde.adresse.ort"
  />
  <input
    class="form-control"
    id="Postleitzahl"
    name="Postleitzahl"
    type="text"
    placeholder="Postleitzahl"
    [(ngModel)]="kunde.adresse.plz"
  />
  <button class="btn btn-primary" type="submit" (click)="saveKunde()">
    Kunde
  </button>
</div>
