<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaFlash checkout</title>
</head>
<body>
    <div class="container">
        <div class="lieferadresse">
            <h2>Lieferadresse</h2>
            <app-lieferadresseForm></app-lieferadresseForm>
        </div>
        <div class="warenkorb">
            <h2>Warenkorb</h2>
            <app-warenkorb></app-warenkorb>
            
        </div>
    </div>
</body>
</html>