<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Kunde</th>
      <th>name</th>
      <th>nachname</th>
    </tr>
  </thead>
  <tbody>
    @for(k of kunde; track k.kundenNr) {
    <tr>
      <td>{{ k.kundenNr }}</td>
      <td>{{ k.vorname }}</td>
      <td>{{ k.nachname }}</td>
    </tr>
    <tr>
      <td>{{ k.adresse.strasse }}</td>
      <td>{{ k.adresse.hausnummer }}</td>
      <td>{{ k.adresse.ort }}</td>
      <td>{{ k.adresse.plz }}</td>
    </tr>
    }
  </tbody>
</table>
