<!DOCTYPE html>

<html lang="en">

<head>
  <title>Pizza Flash</title>
  

</head>

<body>
  <header>
    <nav>
    <a href="cart"> &#8203; Warenkorb &#8203;</a>
    <a href="checkout"> &#8203; Checkout &#8203;</a>
    </nav>
  </header>
  


  <div class="container">
    <h2 style="color: white;">Unsere Klassiker</h2>
    <div class="pizza-menu">



        @for (p of pizzenService.pizzen; track p.pizzaid) {
          <div class="pizza-item">
          <div class="pizzaimagebox">
            <img src="{{p.pzzaimg}}" alt=" Bild von einer {{p.pizzavariante}}.">
          </div>

          <h3>{{p.pizzavariante }}</h3>
          <p>{{p.pizzabeschribung }}</p>
          <h3>Größe: 32</h3>
          
          <br />
          <br />
          <button (click)="addPizza(p.pizzavariante,p.pizzapreis)" (click)="popup" >
            Pizza hinzufügen
          </button>
          
          <p>{{p.pizzapreis}} €</p>
        

        </div>
        
      }
      
    </div>
  </div>
  
</body>

</html>
