<!DOCTYPE html>

<html lang="en">

<head>
  <title>Pizza Flash</title>
</head>

<body>



  <div class="container">
    <h2 style="color: white;">Unsere Klassiker</h2>
    <div class="pizza-menu">



        @for (p of pizzenService.pizzen; track p.pizzaid) {
          <div class="pizza-item">
          <div class="pizzaimagebox">
            <img src="{{p.pzzaimg}}" alt=" Bild von einer {{p.pizzavariante}}.">
          </div>

          <h3>{{p.pizzavariante }}</h3>
          <p>{{p.pizzabeschribung }}</p>
          <h3>Größe:</h3>
          <button (click)="setSize('klein')">28cm</button>
          <button (click)="setSize('mittel')">32cm</button>
          <button (click)="setSize('Groß')">40cm</button>
          <br />
          <br />
          <button (click)="addPizza(p.pizzavariante,p.pizzapreis)">
            Pizza hinzufügen
          </button>
          <p>{{p.pizzapreis}} €</p>

        </div>

      }
      
    </div>
  </div>
  <footer>
    <p>&copy; 2024 Pizza Flash. Alle Rechte vorbehalten.</p>
  </footer>
</body>

</html>
