/* Add application styles & imports to this file! */
body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}
header {
  background-color: #690000
;
  color: #fff;
  padding: 10px;
  text-align: center;

}
nav {
  background-color: #f31e1ecc;
  padding: 10px;
  text-align-last: center;


}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;

  margin: 0 10px;
}
na {


  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: right;
}
nav a:hover {
  text-decoration: underline;
}
.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.pizza-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}
.pizza-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.pizza-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
footer {
  background-color: #690000;
  color: #fff;
  padding: 1px;
  text-align: center;
  position: bottom;
  bottom: 0;
  width: 100%;
}
